<div id="links">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>@Html.ActionLink("Students", "Index", "Students")</p>
    <p>@Html.ActionLink("Departments", "Index", "Departments")</p>
    <p>@Html.ActionLink("Courses", "Index", "Courses")</p>
    <!-- <p>@Html.ActionLink("Delete Student", "Delete", "Students")</p> -->
</div>