@{
    Layout = "_Layout";
}


@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<p>Student Details</p>
<p>@Html.DisplayNameFor(model => model.StudentName) @Html.DisplayFor(model => model.StudentName)</p>
<p>@Html.DisplayNameFor(model => model.EnrollmentDate) @Html.DisplayFor(model => model.EnrollmentDate)</p>

<p>@Html.ActionLink("Delete Student", "Delete", "Students", new {id = Model.StudentId})</p>
<p>@Html.ActionLink("Edit Student", "Edit", "Students", new {id = Model.StudentId})</p>
<p>@Html.ActionLink("Add Course", "AddCourse", "Students", new {id = Model.StudentId})</p>


@if (@Model.JoinEntities.Count == 0)
{
    <p>This Student does not have any courses yet!</p>
}
else
{
    <h4>This Student has the following courses:</h4>
    <ul>
        @foreach (StudentCourse join in Model.JoinEntities)
        {
            <li>Course: @join.Course.CourseName</li>
        }
    </ul>
}