@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
@using UniversityRegistrar.Models

<p>Student Details</p>
<p>@Html.DisplayNameFor(model => model.StudentName) @Html.DisplayFor(model => model.StudentName)</p>
<p>@Html.DisplayNameFor(model => model.EnrollmentDate) @Html.DisplayFor(model => model.EnrollmentDate)</p>

<p>@Html.ActionLink("Delete Student", "Delete", "Students", new {id = Model.StudentId})</p>
<p>@Html.ActionLink("Edit Student", "Edit", "Students", new {id = Model.StudentId})</p>

